@font-face {
    font-family: 'austein';
    src: url('./assets/fonts/Austein/Austein.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    --darkcolor: hsl(227, 36%, 27%);
    --lightcolor: hsl(204, 57%, 49%);
    --lighthovercolor: hsl(204, 57%, 59%);
    max-width: 100%;
    background-color: white;
}

.fa-clock-rotate-left {
    background-color: white;
}
/******************************************Header******************************************/
.header-container {
    display: flex;
    justify-content: space-between;
    min-height: 5rem;
    padding-top: 0.3rem;
    background-color: whitesmoke;
}

.header-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-item-1 {
    justify-content: flex-start;
    min-width: 20vw;
    font-family: 'Austein', sans-serif;
    font-style: italic;
    font-size: 2rem;
    color: var(--darkcolor);
    margin-left: 20%;
    background-color: whitesmoke;
}

.header-item-2 {
    justify-content: flex-end;
    margin-right: 20%;
    background-color: whitesmoke;
}

.navbar-a {
    margin: 10px;
    background-color: whitesmoke;
}
.navbar-a:hover {
    color: var(--lighthovercolor);
}
a {
    color: black;
    text-decoration: none black;
    background-color: whitesmoke;
}
/******************************************Footer******************************************/
.footer-container {
    width: 100vw;
    background-color: var(--darkcolor);
    padding-bottom: 1rem;
}

.footer-inner-container {
    display: flex;
    flex-direction: row;
    margin-top: 3rem;
    margin-left: 25%;
    margin-right: 25%;
    justify-content: space-between;
    background-color: inherit;
    padding-top: 1rem;
}

.footer-title {
    color: var(--lightcolor);
}

.footer-item {
    background-color: inherit;
    padding-left: 1rem;
}

.footer-item > p, h3 {
    background-color: inherit;
    color: whitesmoke;
}
.footer-item > h3   {
    padding-bottom: 0.7rem;
}

.fa-brands {
    color: var(--lightcolor);
    width: 3rem;
    background: none;
    padding-bottom: 2rem;
}

.fa-brands:hover {
    color: var(--lighthovercolor);
}
.fa-facebook::before {
    content: attr(data-tooltip);
}